.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--second-background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-element:first-child {
  margin-right: 70px;
}

.footer-element:last-child {
  margin-left: auto;
}

.footer-contact {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-contact__link {
  transition-property: color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__link--address-color {
  color: var(--white-color);
}

.footer-contact__link:hover,
.footer-contact__link:focus {
  color: var(--accent-color);
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-join {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  line-height: calc(16 / 14);

  color: var(--white-color);
}

.footer-join__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
}

.footer-join__social-item {
  flex-basis: calc(100% / 4 - 10px);
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer-join__social-link {
  transition-property: color, background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;

  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-join__social-link:hover,
.footer-join__social-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.footer-join__social-icon {
  fill: currentColor;
}

.footer-join__signup-wrap {
  display: flex;
}

.footer-join__input {
  margin: 0;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: var(--second-text-color);
}
