.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  transition-property: color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-text-color);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact__item:not(:first-child) {
  margin-left: 50px;
}

.header-contact__link {
  transition-property: color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--header-contact-color);
}

.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--accent-color);
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: var(--accent-color);
}

.nav__link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  transition-property: background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}
